body {
    background-color: #0002968a;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: monospace, 'Courier New', Courier;
}

button {
    border: 2px solid;
    background-color: #ff6600;
    border-radius: 5px;
    border-color: #000000;
    color: rgb(10, 10, 10);
    cursor: pointer;
    font-weight: 700;
    font-family: monospace, 'Courier New', Courier;
}

button:hover {
    background-color: #ff3300;
    color: rgb(0, 0, 0);
}

button:disabled {
    background-color: #ff9751;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ff9751;
    pointer-events: none;
}

.pantalla-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn-iniciar {
    padding: 15px 20px;
    width: 280px;
    font-size: 28px;
}

.menu-personajes {
    display: flex;
    flex-direction: column;
}

.menu-jugadores {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    width: 100%;
    align-items: center;
}

.menu-jugador {
    padding: 20px 50px 50px 50px;
    background-color: rgba(0, 2, 150, 0.233);
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
}

.menu-jugador h1 {
    margin-bottom: 40px;
}

.personajes {
    display: flex;
    gap: 20px;
}

.personaje-lista {
    list-style-type: none;
}

.btn-personaje {
    width: 100%;
    font-size: 15px;
    margin-bottom: 3px;
}

#img-jugador2 {
    transform: scaleX(-1);
}

.imagen-personaje {
    width: 200px;
    height: 200px;
}

.imagen-personaje img {
    max-width: 100%;
    max-height: 100%;
}

.cont-btn-enfrentamiento {
    display: flex;
    justify-content: center;
}

.btn-iniciar-enfrentamiento {
    padding: 10px 10px;
    width: 75%;
    margin-top: 60px;
    font-size: 20px;
    display: none;
}

.enfrentamiento {
    display: none;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.enfrentamiento-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.jugador {
    text-align: center;
    flex: 1;
}

.jugador img {
    height: 300px;
}

.barra-vida {
    width: 400px;
    height: 20px;
    background-color: green;
    margin: 10px auto;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
}

.frases {
    background-color: rgba(255, 255, 255, 0.300);
    padding: 10px;
    min-height: 60px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
}

.enfrentamiento-contenedor button {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

.zona-insultos {
    width: 200px;
    margin: 20px;
    background-color: rgba(0, 2, 150, 0.233);
    text-align: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
    flex: 1;
}

.zona-insultos li {
    list-style: none;
    margin: 5px;
    padding: 3px;
    background-color: #e7e7e7;
    font-size: 16px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #000000;
}

#carrusel-fondos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#carrusel-fondos img {
    max-width: 200px;
    max-height: 150px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#carrusel-fondos button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
}

#carrusel-fondos button:hover {
    background-color: #ff3300;
}
